*,
*::before,
*::after {
    box-sizing: border-box;
}

/* reset default styles */
html {
    font-family: 'Inter', sans-serif;
}

body {
    width: 100vw;
    min-height: 100vh;    
    display: flex;
    justify-content: center;
    color: white;

}

body,
h2,
p {
    margin: 0;
    padding: 0;
}

a, button, input {
    font-family: inherit;
}

a {
    text-decoration: none;
    color: white;
}

button {
    all: unset;
  }

 
/* UTILITY CLASS */
.flex {
    display: flex;
}

.container {
    width: 600px;
    max-height: 100%;
    flex-direction: column;
    align-items: center;
    background-color: #121212;

}


/* TOP */

.top-container {
    background-image: url(https://images.unsplash.com/photo-1628432136678-43ff9be34064?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1926&q=80);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 208px;
    position: relative;
    
}

.top-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 208px;
    background-color: rgba(0,0,0, 0.5);
    z-index: 1;
    pointer-events: none;
}

.top-container h2,
.top-container a,
.top-container .input-search {
    position: relative;
    z-index: 2;
    color: inherit;
}

.find-film {
    width: 100%;
    padding-block: 80px;
    justify-content: space-between;
    padding-inline: 50px;
    align-items: center;
}

.input-search {
    justify-content: center;
    position: relative;
}

.search-btn,
.user-input {
    padding: 12px;
    border: none;
    font-size: 1rem;
}

.user-input {
    border-top-left-radius: 6px; 
    border-bottom-left-radius: 6px; 
    max-width: 70%;
    background-color: #2E2E2F;
    color: #A5A5A5;
}

.search-btn {
    max-width: 30%;
    border-top-right-radius: 6px; 
    border-bottom-right-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    background-color: #4B4B4B;
    color: white;
}




 /* Loading spinner */
 .loading-spinner {
    display: none;
    position: absolute;
    right: 171px;
    bottom: 12px;
}

.spinner {
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border-top: 4px solid rgb(202, 98, 98);
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* .movie-list-container,
.watch-list-container {
    width: 500px;
    margin-top: 50px;
} */

/* .start-exploring,
.empty {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
} */

/* 


.movie-list-container,
.watch-list-container {
    width: 500px;
    margin-top: 50px;
}

.start-exploring,
.empty {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
} */

/* .start-exploring p,
.empty p {
    color: #2E2E2F;
    margin-top: 8px;
}

.movie {
    margin-bottom: 40px;
    border-bottom: 4px solid #E5E7EB;
} */
  /* displayMovies */

/* .movie-poster,
.movie-plot {
    margin-bottom: 40px;
}

.movie-poster {
    max-width: 99px;
    max-height: 145px;
    object-fit: cover;
    margin-right: 21px;
}

.movie-details {
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.movie-details-one {
    align-items: center;
}

.movie-title {
    font-weight: bold; /*medium*/
    font-size: 24px;
    margin-right: 8px;
}

.watchlist-container {
    align-items: center;
    cursor: pointer;
    background-color: inherit;
    color: inherit;
    border: none;
    padding: 10px;
    border-radius: 3px;
}

.watchlist-container:hover {
    background-color: #2E2E2F;
} */

/* .watchlist-container:active {
    background-color: #4B4B4B;
} */

/* .fa-star {
    margin-right: 4px;
    color: #fec654;
} */

/* .movie-rating {
    font-size: 12px;
} */

/* .movie-details-two {
    justify-content: space-between;
    align-items: center;
    margin-block: 11px;
    gap: 10px;
} */


/* .movie-plot {
    color: #6B7280;
    font-size: 14px;
}

.fa-solid {
    margin-right: 5px;
} */


/* watchlist.html */

/* .add-movies-container {
    align-items: center;
    margin-top: 15px;
}
.add-movies-container .add-movies-txt {
    color: white;
    align-items: center;
    margin-top: 0;
    margin-left: 7px;
} */

